* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #262a2f;
}

.container {
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    text-align: center;
}

.container p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
}

.container input {
    width: 100%;
    height: 50px;
    border: 1px solid #494eea;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}

.container button {
    width: 100%;
    height: 50px;
    background: #494eea;
    color: #fff;
    border: 0;
    outline: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.imgBox {
    margin-top: 20px;
    display: none;
    animation: fadeIn 0.6s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.imgBox img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

#downloadButton {
    width: 100%;
    height: 50px;
    background: #18a558;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}